<div class="container mx-auto admin-items-show">
	<h2 class="text-center">商品詳細</h2>
	<%= flash[:notice_update] %>
	<br>
	<div class="row">
		<div class="col-6">
			<%= attachment_image_tag @item, :image, :fill, 300, 250 %>
		</div>
		<div class="col-6">
			<div class="field">
				<p>【商品名】</p>
				<p>　<%= @item.name %></p>
			</div>
			<br>
			<div class="field">
				<p>【商品紹介】</p>
				<p>　<%= @item.introduction %></p>
			</div>
			<br>
			<div class="field">
				<p>【ジャンル】</p>
				<p>　<%= @item.genre.name %></p>
			</div>
			<br>
			<div class="field">
				<p>【税抜価格(税込価格)】</p>
				<p>　<%= @item.price %>(<%= @item.price * 1.08 %>)</p>
			</div>
			<br>
			<div class="field">
				<p>【販売ステータス】</p>
				<p>　
					<% if @item.is_sold? %>
						売り切れ
					<% else %>
						販売中
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>