<div class="container">
	<%= form_for(@genre, url: {controller: "genres", action: "create"}) do |f| %>
	<h3 class="text-center">新規ジャンル追加</h3>
	<%= flash[:notice_genre] %>
	<div class="row errors mx-auto">
		<% if @genre.errors.any? %>
		    <h5><%= @genre.errors.count %>件のエラーがあります</h5>
		    <ul>
		        <% @genre.errors.full_messages.each do |message| %>
		            <li><%= message %></li>
		        <% end %>
		    </ul>
		<% end %>
	</div>
	<div class="row admin-genre-create mx-auto" style="width: 500px;">
		<%= f.text_field :name, class:"form-control mb-2" %>
		<%= f.radio_button :is_active, :true %>有効
		<%= f.radio_button :is_active, :false %>無効
		<%= f.submit "追加", class:"btn btn-outline-primary" %>
	</div>
	<% end %>
	<br>
	<br>
	<div class="row admin-genre-index mx-auto text-center" style="width: 700px;">
		<table class="table">
			<thead>
				<th>ジャンル</th>
				<th>状態</th>
				<th></th>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
				<tr>
					<td><%= genre.name %></td>
					<td>
						<% if genre.is_active? %>
							<p>有効</p>
						<% else %>
							<p>無効</p>
						<% end %>
					</td>
					<td>
						<%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-outline-primary" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>