<%= form_for(@customer) do |f| %>
<div class="container mx-auto" style="width: 600px;">
	<div class="text-center">
		<div class="row">
			<h2>登録情報編集</h2>
			<p>退会する</p>
		</div>
		<div class="row">
			<tabel>
				<tr>
					<th>氏名</th><td><%=f.text_field :last_name,class:"form-control" %></td><td><%=f.text_field :first_name,class:"form-control" %></td>
				</tr>
				<tr>
					<th>フリガナ</th>	<td><%= f.text_field :last_name_kana,class:"form-control" %></td><td><%= f.text_field :first_name_kana,class:"form-control" %></td>
				</tr>
				<tr>
					<th>郵便番号</th>	<td><%= f.text_field :postcode,class:"form-control" %></td>
				</tr>
				<tr>
					<th>住所</th><td><%= f.text_field :address,class:"form-control" %></td>
				</tr>
				<tr>
					<th>電話番号</th>	<td><%= f.text_field :phone_number,class:"form-control" %></td>
				</tr>
				<tr>
					<th>メールアドレス</th><td><%= f.text_field :email,class:"form-control" %></td>
				</tr>
			</tabel>
		</div>
		<%= f.submit "編集内容を保存する", class:"btn btn-outline-primary mb-4" %>
	</div>
</div>
<% end %>