<div class="container mx-auto" style="width: 600px;">
	<div class="row">
		<h2 class="text-center">マイページ</h2>
	</div>
	<div class="row">
		<div class="col-3">
			<h4>登録情報</h4>
		</div>
		<div class="col-3">
			<%= link_to "編集する", edit_customer_path, class:"btn btn-outline-primary mb-2" %>
		</div>
		<div class="col-5">
			<h4>パスワードを変更する</h4>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<tr>
				<th>氏名</th>
				<td><%= @customer.last_name %><%= @customer.first_name %></td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><%= @customer.postcode %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= @customer.phone_number %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= @customer.email %></td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-lg-6 text-center">
			<h3>配送先</h3>
			<h5>一覧を見る</h5>
		</div>
		<div class="col-lg-6 text-center">
			<h3>注文履歴</h3>
			<h5>一覧を見る</h5>
		</div>
	</div>
</div>