<div class="container mx-auto item-show">
	<h2 class="text-center">商品詳細</h2>
	<br>
	<div class="row">
		<div class="col-6">
			<%= attachment_image_tag @item, :image, :fill, 300, 250 %>
		</div>
		<div class="col-6">
			<div class="item-info">
				<div class="field">
					<p>　<%= @item.name %></p>
				</div>
				<div class="field">
					<p>　<%= @item.introduction %></p>
				</div>
				<div class="field">
					<p>　<%= @item.price * 1.08 %>円(税込)</p>
				</div>
			</div>
			<br>
			<%= form_for @cart_item do |f| %>
			<div class="item-select">
				<div class="select-q">
					<%= f.select :quantity, options_for_select((1...6).to_a), include_blank: "個数選択" %>
				</div>
				<br>
				<div class="cart_in">
					<%= f.submit "カートに入れる", class:"btn btn-outline-success btn-sm" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>